*.pbix
/devicecodetoken.bin

pbitoken.bin

pbitoken*.bin

/Data*

GraphAppSecret.txt

ServicePrincipal.json

/Share
/Config*.json

*.pbix
/Config*.json
/debug.log

*/data/*

/Publish

Test -*.ps1

local.settings*

*.docx

/Dataflow

/DatasetStats